{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Clients</title>
    <link rel="stylesheet" href="{% static 'listings/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Liste des Clients</h1>
        
<div class="actions">
    <a href="{% url 'ajouter_client' %}" class="btn btn-add">Ajouter un Client</a>
</div>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.telephone }}</td>
                    <td><a href="{% url 'modifier_client' client.id %}" class="btn btn-edit">Modifier</a></td>
                    <td><a href="{% url 'supprimer_client' client.id %}" class="btn btn-delete">Supprimer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'accueil' %}" class="btn btn-retour">Retour</a>
    </div>
</body>
</html>
