{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livreurs</title>
    <link rel="stylesheet" href="{% static 'listings/style.css' %}">
    <style>
    body {
        background-image: url("{% static 'listings/pharmacie.jpeg' %}") !important;
        background-size: cover !important;
        background-position: center !important;
        background-attachment: fixed !important;
    }
</style>
</head>
<body>
    <div class="container">
        <h1>Liste des Livreurs</h1>
        {% if messages %}
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div style="padding:10px; margin-bottom:15px; border-radius:5px; background-color:#e74c3c; color:white;">
                        {{ message }}
                    </div>
                {% else %}
                    <div style="padding:10px; margin-bottom:15px; border-radius:5px; background-color:#27ae60; color:white;">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        
        <div class="actions">
            <a href="{% url 'ajouter_livreur' %}" class="btn btn-add">Ajouter un Livreur</a>
             <a href="{% url 'accueil' %}" class="btn btn-retour">Retour</a>  
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for livreur in livreurs %}
                <tr>
                    <td>{{ livreur.nom }}</td>
                    <td>{{ livreur.telephone }}</td>
                    <td><a href="{% url 'modifier_livreur' livreur.id %}" class="btn btn-edit">Modifier</a></td>
                    <td><a href="{% url 'supprimer_livreur' livreur.id %}" class="btn btn-delete">Supprimer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>
</html>